<h1 style="text-align: center">Here's the answer</h1>
<p style="text-align: center">Your Question: <%= @question %></p>
<p style="text-align: center"> Answer: <%= @answer %></p>
<p style="text-align: center;" >
<%= link_to "Ask Again", "/ask" %>
</p>
