<h1 style="text-align: center">Stupid Coach</h1>
<h2 style="text-align: center" >Ask your coach anything</h2>

<form action="/answer" data-turbo="false" style="text-align: center" method="get">
  <input type="text" name="question" style="text-align: center">
  <input type="submit" value="Ask Me!"></input>
</form>
